div#carouselJackspedicey, div.carousel, div.slide, div.carousel-inner, div.carousel-item-active, div.carousel-item  {
    padding: 0 10%; 
}
p > a > img {
    max-height: 20em;
    width: 15em;
}

img.banner {
    left: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
	max-width: 100vw;
	position: relative;
	right: 50%;
	width: 100vw;
}
button {
    width: 100%;
    padding-left: 15%;
    padding-right: 15%; 
}
#primary {
    background-color: #1B9838;
}
#secondary {
    background-color: #2EA346;
}
#secondarest {
    background-color: #BCCC9E;
}
#accent {
    color: #11190D;
}
#background {
    background-image: url(Jacksepticeye5.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#title-text {
    color: #98f4ab;
}