div#carouselJackspedicey, div.carousel, div.slide, div.carousel-inner, div.carousel-item-active, div.carousel-item  {
    padding: 0 10%; 
}
p > a > img {
    max-height: 20em;
}

img.banner {
    width: 100%;
    padding-left: 15%;
    padding-right: 15%;
}