div#carouselJackspedicey, div.carousel, div.slide, div.carousel-inner, div.carousel-item-active, div.carousel-item  {
    padding: 0 10%; 
}
p > a > img {
    max-height: 20em;
    width: 15em;
}

img.banner {
    width: 100%;
    height: 16em;
}
button {
    width: 100%;
    padding-left: 15%;
    padding-right: 15%; 
}
#primary {
    background-color: #1B9838;
}
#secondary {
    background-color: #BCCC9E;
}
#accent {
    color: #11190D;
}